@@ -0,0 +1,84 @@

assets/bootstrap/css/bootstrap-grid.css
assets/bootstrap/css/bootstrap-grid.css.map
assets/bootstrap/css/bootstrap-grid.min.css
assets/bootstrap/css/bootstrap-grid.min.css.map
assets/bootstrap/css/bootstrap-reboot.css
assets/bootstrap/css/bootstrap-reboot.css.map
assets/bootstrap/css/bootstrap-reboot.min.css
assets/bootstrap/css/bootstrap-reboot.min.css.map
assets/bootstrap/css/bootstrap.css
assets/bootstrap/css/bootstrap.css.map
assets/bootstrap/css/bootstrap.min.css
assets/bootstrap/css/bootstrap.min.css.map
assets/bootstrap/fonts/glyphicons-halflings-regular.eot
assets/bootstrap/fonts/glyphicons-halflings-regular.svg
assets/bootstrap/fonts/glyphicons-halflings-regular.ttf
assets/bootstrap/fonts/glyphicons-halflings-regular.woff
assets/bootstrap/fonts/glyphicons-halflings-regular.woff2
assets/bootstrap/js/bootstrap.bundle.js
assets/bootstrap/js/bootstrap.bundle.js.map
assets/bootstrap/js/bootstrap.bundle.min.js
assets/bootstrap/js/bootstrap.bundle.min.js.map
assets/bootstrap/js/bootstrap.js
assets/bootstrap/js/bootstrap.js.map
assets/bootstrap/js/bootstrap.min.js
assets/bootstrap/js/bootstrap.min.js.map
assets/bootstrap/js/npm.js
dist/bootstrap-multiselect.js
dist/bootstrap-select-1.min.js
dist/bootstrap-tagsinput-angular.js
dist/bootstrap-tagsinput-angular.min.js
dist/bootstrap-tagsinput-angular.min.js.map
dist/bootstrap-tagsinput-typeahead.css
dist/bootstrap-tagsinput.css
dist/bootstrap-tagsinput.js
dist/bootstrap-tagsinput.less
dist/bootstrap-tagsinput.min.js
dist/bootstrap-tagsinput.min.js.map
dist/css/bootstrap-colorpicker-plus.css
dist/css/bootstrap-colorpicker.min.css
dist/img/bootstrap-colorpicker/alpha-horizontal.png
dist/img/bootstrap-colorpicker/alpha.png
dist/img/bootstrap-colorpicker/hue-horizontal.png
dist/img/bootstrap-colorpicker/hue.png
dist/img/bootstrap-colorpicker/saturation.png
dist/js/bootstrap-colorpicker-plus.js
dist/js/bootstrap-colorpicker.min.js
assets/js/popper.min.js
assets/js/moment.min.js
assets/js/jquery.validate.js
assets/js/jquery-3.4.1.min.js
assets/js/datepicker.js
assets/images/.DS_Store
assets/font-awesome/fonts/FontAwesome.otf
assets/font-awesome/fonts/fontawesome-webfont.woff2
assets/font-awesome/fonts/fontawesome-webfont.woff
assets/font-awesome/fonts/fontawesome-webfont.ttf
assets/font-awesome/fonts/fontawesome-webfont.svg
assets/font-awesome/fonts/fontawesome-webfont.eot
assets/css/toastr.min.css
assets/css/font-awesome.min.css
assets/css/datepicker.css
assets/images/welcome.png
assets/images/user.png
assets/images/text.png
assets/images/spinner.gif
assets/images/share.png
assets/images/share (2).png
assets/images/search_tags.png
assets/images/reminder.jpg
assets/images/logo1.png
assets/images/icon.jpg
assets/images/envelope.png
assets/images/delete_icon.png
assets/images/delete.png
assets/images/default_account.png
assets/images/default_account (2).png
assets/images/default-user.jpg
assets/images/3.png
assets/images/2.png
assets/images/1.png
assets/js/toastr.min.js
bgw2.jpg
logo.jpg
assets/images/profile.jpg
assets/font-awesome/css/font-awesome.min.css
_metadata/computed_hashes.json
_metadata/verified_contents.json
.DS_Store
assets/.DS_Store
assets/bootstrap/.DS_Store
assets/fonts/fontawesome-webfont.eot
assets/fonts/fontawesome-webfont.woff
assets/fonts/fontawesome-webfont.woff2
assets/css/baloo_font.css
assets/css/bootstrap.min.css
assets/js/bootstrap.min.js
assets/js/jquery.min.js
test_debug_design.html
test_new_design.html
test_debug_design_fb.html
assets/js/cb.jquery.min.js
